<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Randomizer App</title>
</head>
<body>

    {{{body}}}

    <footer>
      The source code for this project is on
      <a href="http://github.com/DWDatITP/randomizer-app">github</a>.
    </footer>
</body>
</html>
